@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(250,218,221);
  text-align: center;
  color: rgb(214, 0, 107);
  margin: auto;
  font-family: water;
   cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='90' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🌹</text></svg>") 16 0, auto;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-color: ghostwhite;
  background-image: url("https://www.shutterstock.com/image-vector/full-bloom-pink-sakura-tree-260nw-561066430.jpg");
  background-size: 1000px 800px;
  border-radius: 300px;
  border: 5px solid white;
}



